<nav class="flex items-center overflow-hidden py-2 px-5 lg:ps-12 w-full h-12 md:h-16 text-gray-300 bg-cnec-azul shadow-lg shadow-cnec-azul-claro justify-between">
    <div class="flex flex-col md:flex-row md:items-center xl:gap-x-12 lg:gap-x-9 gap-x-7">

        <a href="/" class="border-b-2 border-transparent transition-all duration-400 transform hover:scale-105 hover:border-cnec-amarelo hover:text-white font-semibold {% if current_page == 1  %} is_current_page {% endif %}">
            TURMAS
        </a>

        <a href="/cadastro/alunos/" class=" border-b-2 border-transparent transition-all duration-400 transform hover:scale-105 hover:border-cnec-amarelo hover:text-white font-semibold {% if current_page == 2  %} is_current_page {% endif %}">
            CADASTRO
        </a>
        
        <a href="/historico/" class=" border-b-2 border-transparent transition-all duration-400 transform hover:scale-105 hover:border-cnec-amarelo hover:text-white font-semibold {% if current_page == 3  %} is_current_page {% endif %}">
            HISTÓRICO
        </a>
            
        <a href="/manualInstrucoes/" class=" border-b-2 border-transparent transition-all duration-400 transform hover:scale-105 hover:border-cnec-amarelo hover:text-white font-semibold {% if current_page == 4  %} is_current_page {% endif %}">
            MANUAL DE INSTRUÇÕES
        </a>

        <a href="/passagemAno/" class=" border-b-2 border-transparent transition-all duration-400 transform hover:scale-105 hover:border-cnec-amarelo hover:text-white font-semibold {% if current_page == 5  %} is_current_page {% endif %}">
            PASSAGEM DE ANO
        </a>

    </div>

    <button id="menu-btn" class="md:hidden text-2xl text-cnec-branco">
      ☰
    </button>

    <a href="/" class="h-full flex items-center border-l-4 border-cnec-amarelo pl-2">
        <img 
            src="../../static/assets/logo_completa_branca.png"
            class="h-10 lg:h-12 w-auto object-contain"
        >
    </a>

</nav>
