@import url('https://googleapis.com');

@tailwind base;
@tailwind components;
@tailwind utilities;

.is_current_page {
    border-bottom-width: 3px;
    border-color: #ffc023;
    color: white;
    font-weight: bold;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
}