{% extends "layout/main.html" %}

{% block title %}Biblioteca CNEC - Cadastro{% endblock %}

{% block content %}

<div class="flex items-center justify-center w-full px-4">

    <div class="w-full max-w-5xl space-y-6">

        <!-- menu -->
        <div class="flex gap-8 text-xl font-semibold">
            <a href="/cadastro/alunos"
               class="pb-2 transition-all
               {% if grupo == 'alunos' %}
                   border-b-4 border-cnec-amarelo text-cnec-azul-escuro
               {% else %}
                   text-gray-500 hover:text-cnec-amarelo
               {% endif %}">
                Alunos
            </a>

            <a href="/cadastro/livros"
               class="pb-2 transition-all
               {% if grupo == 'livros' %}
                   border-b-4 border-cnec-amarelo text-cnec-azul-escuro
               {% else %}
                   text-gray-500 hover:text-cnec-amarelo
               {% endif %}">
                Livros
            </a>
        </div>

        <!-- resgistro | formulario -->
        <div class="bg-cnec-amarelo {% if grupo == 'alunos' %} bg-cnec-azul-escuro {% endif %}  p-6 flex flex-col md:flex-row gap-8">

            {% if grupo == "alunos" %}

                <!-- registros -->
                <div class="bg-cnec-amarelo p-4 w-full md:w-1/2 max-h-80 overflow-y-auto">
                    <h2 class="font-bold mb-3 text-lg">Alunos cadastrados</h2>

                    <ul class="space-y-2">
                        {% for aluno in alunos %}
                            <li class="bg-cnec-azul-escuro p-2 rounded text-cnec-branco">
                                {{aluno.nome}} - {{aluno.turma}}º Ano
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- formulario -->
                <div class="w-full md:w-1/2">
                    <form class="flex flex-col gap-6 font-semibold">

                        <legend class="text-cnec-branco text-xl">Novo Aluno:</legend>
                        <div class="flex flex-col gap-2">
                            <label class="text-cnec-branco">Nome:</label>
                            <input type="text"
                                   class="p-2 rounded bg-cnec-branco text-cnec-branco outline-none focus:outline-2 focus:outline-cnec-amarelo">
                        </div>

                        <div class="flex flex-col gap-2 ">
                            <label class="text-cnec-branco">Turma:</label>
                            <select class="p-2 rounded bg-cnec-branco text-cnec-azul-escuro/80">
                                {% for i in range(1,10) %}
                                    <option value="{{i}}">{{i}}º Ano</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit"
                                class="bg-cnec-amarelo text-cnec-azul-escuro font-bold py-2 my-3 rounded hover:opacity-90 transition hover:bg-cnec-amarelo-shadow">
                            Cadastrar
                        </button>

                    </form>
                </div>

            {% endif %}


            {% if grupo == "livros" %}

                <!-- registro -->
                <div class="bg-cnec-azul-escuro rounded-lg p-4 w-full md:w-1/2 max-h-80 overflow-y-auto">
                    <h2 class="font-bold mb-3 text-lg text-cnec-branco">Livros cadastrados</h2>

                    <ul class="space-y-2">
                        {% for livro in livros %}
                            <li class="bg-cnec-branco p-2 rounded text-cnec-azul-escuro">
                                {{livro.nome}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- formulario -->
                <div class="w-full md:w-1/2">
                    <form class="flex flex-col font-semibold">

                        <legend class="text-cnec-azul-escuro text-xl">Novo Livro:</legend>
                        <div class="flex flex-col gap-2">
                            <label class="text-cnec-azul-escuro my-2">Título:</label>
                            <input type="text"
                                   class="p-2 rounded bg-white text-cnec-branco outline-none focus:outline-2 focus:outline-cnec-amarelo">
                        </div>

                        <button type="submit"
                                class="bg-cnec-azul-escuro text-cnec-branco font-bold py-2 mt-4 rounded hover:bg-cnec-amarelo-escuro transition">
                            Cadastrar
                        </button>

                    </form>
                </div>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}