{% extends "layout/main.html" %}

{% block title %}Biblioteca CNEC{% endblock %}

{% block content %}
<div class="flex justify-center w-full min-h-full items-start pt-12">

    <div class="relative w-max">

        <!-- Quadrado amarelo -->
        <div class="absolute -right-10 md:-right-14 w-32 h-32 md:w-48 md:h-48 bg-cnec-amarelo z-0"></div>

        <!-- Quadrado azul -->
        <div class="absolute -bottom-10 -left-10 md:-bottom-14 md:-left-14 w-32 h-32 md:w-48 md:h-48 bg-cnec-azul z-0"></div>

        <!-- Conteúdo -->
        <div class="relative z-10">

            <div class="pt-2 px-0 md:px-4 text-xl text-cnec-azul-escuro border-b-4 border-cnec-amarelo mb-4 font-semibold w-max">
                Selecione a Turma
            </div>
            <!-- <img src="/static/assets/logo.png" class="opacity-50 absolute self-baseline"> -->

            <!-- Grid das Turmas-->
            <div class="grid grid-flow-row grid-cols-2 md:grid-cols-3 gap-5 md:gap-12 bg-cnec-azul-escuro h-max w-max p-6 md:p-14 sm:p-10">
                {% for turma in turmas %} 
                    <a href="/turma/{{turma.turma}}"
                       class="text-cnec-branco bg-cnec-azul-claro rounded-sm p-2 md:p-4 px-4 md:px-8 border-4 border-cnec-azul-claro-shadow hover:bg-cnec-amarelo hover:border-cnec-amarelo-shadow hover:text-cnec-amarelo-escuro transition-all duration-400 transform hover:scale-105 text-xl font-bold">
                        {{ turma.turma_formatada }}
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
